:root {
    --primary-white-dark: #e4e4e4;
    --primary-grey-light: rgb(180, 180, 180);
    --primary-grey-main: rgb(150, 150, 150);
    --primary-grey-dark: rgb(110, 110, 110);
    --primary-grey-superdark: #353535;
    --secondary-white-main: #fff;
    --secondary-black-main: #000;
    --secondary-red-main: #c90c32;
    --secondary-green-main: #00A779;
}

button {
    user-select: none;
}

body {
    background: var(--primary-grey-superdark);
    color: var(--secondary-white-main);
    font-family: 'Lato';
    font-style: normal;
    font-size: 32px;
    font-weight: normal;
}

.workspace {
    width: 500px;
    margin: 0 auto;
    padding:6px;
}

.display {
    height: 30%;
    margin-bottom: 6px;
}

.upperBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-white-dark);
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 4px;
}

.upperBar_mem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 5px;
    border-radius: 5px;
}

#upperBar_memValue {
    width: 100%;
    justify-content: end;
}

#upperBar_currentResult {
    max-width: 50%;
    background-color: var(--primary-white-dark);
    color: var(--secondary-black-main);
    text-align: right;
    border: none;
    padding: 1px;
    transition: all ease 0.1s;
}

.middleBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--primary-white-dark);
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 6px;
}

#middleBar_result {
    width: 100%;
    background-color: var(--primary-white-dark);
    color: var(--secondary-black-main);
    border: none;
    font-size: 46px;
    line-height: 46px;
    text-align: right;
    transition: all ease 0.1s;
}

.downBar {
    display: flex;
    width: 100%;
    background-color: var(--primary-white-dark);
    border: none;
    border-radius: 5px;
    padding: 6px;
}

#downBar_formula {
    width: 100%;
    background-color: var(--primary-white-dark);
    color: var(--secondary-black-main);
    border: none;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 1px;
    text-overflow: ellipsis;
    direction: rtl;
    unicode-bidi: bidi-override;
    transition: all ease 0.1s;
}

.buttons {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px;
}

.button {
    text-align: center;
    background-color: var(--primary-grey-dark);
    color: var(--primary-white-main);
    border: none;
    border-radius: 5px;
    padding: auto 0;
    transition: all ease 0.1s;
}

.button:hover, .button:focus {
    cursor: pointer;
    border: solid 2px white;
    transform: scale(1.02);
}

.button:active {
    opacity: 0.8;
    transform: translateX(2px);
    transform: translateY(2px);
}

.button_number {
    background-color: var(--primary-grey-main);
}

.button_number:active {
    opacity: 0.8;
}

.upperBar_memButton, #upperBar_memValue {
    align-content: flex-start;
    background-color: var(--primary-white-dark);
    color: var(--secondary-black-main);
    font-size: 24px;
    line-height: 24px;
    padding: 6px 1px;
    border: none;
    border-radius: 4px;
    transition: all ease 0.1s;
}

.upperBar_memButton {
    padding: 3px;
    margin-right: 5px;
    background: var(--primary-grey-light);
    transition: all ease 0.1s;
}

.button_numberOfDecimals {
    width: 40px;
    height: 30px;
    background-color: var(--primary-white-dark);
    color: var(--secondary-black-main);
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background: var(--primary-grey-light);
    transition: all ease 0.1s;
}

#upperBar_currentResult:focus, .upperBar_memButton:focus,
#upperBar_memValue:focus, #middleBar_result:focus,
#downBar_formula:focus {
    background-color: var(--primary-grey-light);
    border-radius: 4px;
}

.upperBar_memButton:hover, .button_numberOfDecimals:hover {
    border: none;
    transform: none;
}

.upperBar_memButton:focus, .button_numberOfDecimals:focus {
    border: solid 1px var(--secondary-black-main) ;
    transform: none;
}

.upperBar_memButton:active, .button_numberOfDecimals:active {
    background: var(--primary-grey-main);
}

#button_sum, .button_solve {
    grid-row: span 2;
}

.button_resetAll, .button_resetCalc {
    background-color: var(--secondary-red-main);
}

.button_resetAll:active, .button_resetCalc:active {
    opacity: 0.8;
}

#button_sum, .button_solve {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_solve {
    background-color: var(--secondary-green-main);
}

.button_solve:active {
    opacity: 0.8;
}

input::selection {
    background: var(--primary-grey-dark);
}

@media (max-width: 541px) {
    .workspace {
        width: 100%;
    }

    .display {
        margin-bottom: 15px;
    }

    .buttons {
        height: calc(100svh - 191px - 19px);
    }
}
