button {
    user-select: none;
}

body {
    background: #353535;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-size: 28px;
    font-weight: normal;
}

.workspace {
    width: 500px;
    margin: 0 auto;
    padding: 6px;
}

.display {
    height: 30%;
    margin-bottom: 6px;
}

.upperBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 4px;
}

.upperBar_mem {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 5px;
    border-radius: 5px;
}

#upperBar_memValue {
    width: 100%;
    justify-content: end;
}

#upperBar_currentResult {
    max-width: 50%;
    background-color: #e4e4e4;
    color: #000;
    text-align: right;
    border: none;
    padding: 1px;
    transition: all ease 0.1s;
}

.middleBar {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 6px;
}

#middleBar_result {
    width: 100%;
    background-color: #e4e4e4;
    color: #000;
    border: none;
    font-size: 46px;
    line-height: 46px;
    text-align: right;
    transition: all ease 0.1s;
}

.downBar {
    display: flex;
    width: 100%;
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    padding: 6px;
}

#downBar_formula {
    width: 100%;
    background-color: #e4e4e4;
    color: #000;
    border: none;
    font-size: 22px;
    border-radius: 5px;
    padding: 5px 1px;
    text-overflow: ellipsis;
    direction: rtl;
    unicode-bidi: bidi-override;
    transition: all ease 0.1s;
}

.buttons {
    height: 400px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 6px;
}

.button {
    text-align: center;
    background-color: rgb(110, 110, 110);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: auto 0;
    transition: all ease 0.1s;
}

.button:hover, .button:focus {
    cursor: pointer;
    border: solid 2px white;
    transform: scale(1.02);
}

.button:active {
    background-color: rgb(90, 90, 90);
    transform: translateX(2px);
    transform: translateY(2px);
}

.button_number {
    background-color: rgb(150, 150, 150);
}

.button_number:active {
    background-color: rgb(120, 120, 120);
}

.upperBar_memButton, #upperBar_memValue {
    align-content: flex-start;
    background-color: #e4e4e4;
    color: #000;
    font-size: 20px;
    line-height: 20px;
    padding: 6px 1px;
    border: none;
    border-radius: 4px;
    transition: all ease 0.1s;
}

.upperBar_memButton {
    padding: 3px;
    margin-right: 5px;
    background: rgb(180, 180, 180);
    transition: all ease 0.1s;
}

.button_numberOfDecimals {
    width: 40px;
    height: 30px;
    background-color: #e4e4e4;
    color: #000;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    padding: 2px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background: rgb(180, 180, 180);
    transition: all ease 0.1s;
}

#upperBar_currentResult:focus, .upperBar_memButton:focus,
#upperBar_memValue:focus, #middleBar_result:focus,
#downBar_formula:focus {
    background-color: rgb(180, 180, 180);
    border-radius: 4px;
}

.upperBar_memButton:hover, .button_numberOfDecimals:hover {
    border: none;
    transform: none;
}

.upperBar_memButton:focus, .button_numberOfDecimals:focus {
    border: #000 1px solid;
    transform: none;
}

.upperBar_memButton:active, .button_numberOfDecimals:active {
    background: rgb(150, 150, 150);
}

#button_sum, .button_solve {
    grid-row: span 2;
}

.button_resetAll, .button_resetCalc {
    background-color: #c90c32;
}

.button_resetAll:active, .button_resetCalc:active {
    background-color: #a70b2a;
}

#button_sum, .button_solve {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_solve {
    background-color: #00A779;
}

.button_solve:active {
    background-color: #008761;
}

input::selection {
    background: #818181;
}

@media (max-width: 541px) {
    .workspace {
        width: 100%;
    }

    .buttons {
        height: calc(100vh - 191px);
    }
}
