button {
    user-select: none;
}

body {
    background: #353535;
    color: #fff;
    font-family: 'Lato';
    font-style: normal;
    font-size: 28px;
    font-weight: normal;
}

.workspace {
    max-height: 700px;
    max-width: 410px;
    margin: 0 auto;
    padding: 10px;
}

.display {
    margin-bottom: 6px;
}

.upperBar {
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    background-color: #e4e4e4;
    margin-bottom: 6px;
    padding: 6px;
    border-radius: 4px;
}

#numberOfDecimals {
    width: 33px;
    height: 28px;
    background-color: #e4e4e4;
    color: #000;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    transition: all ease 0.1s;
}

#numberOfDecimals:focus, #upperBar_currentResult:focus,
#middleBar_memButton:focus, #middleBar_memValue:focus, #middleBar_result:focus,
#display_formula:focus {
    background-color: rgb(180, 180, 180);
    border-radius: 4px;
}

#upperBar_currentResult {
    max-width: 70%; /* temporarily */
    background-color: #e4e4e4;
    color: #000;
    text-align: right;
    border: none;
    transition: all ease 0.1s;
}

.middleBar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e4e4e4;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 6px;
}

.middleBar_mem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#middleBar_memButton, #middleBar_memValue {
    align-content: center;
    background-color: #e4e4e4;
    color: #000;
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    border: none;
    border-radius: 4px;
    transition: all ease 0.1s;
}

#middleBar_memValue {
    width: 30px;
}

#middleBar_result {
    width: 60%;
    height: 48px;
    background-color: #e4e4e4;
    color: #000;
    border: none;
    font-size: 48px;
    line-height: 48px;
    text-align: right;
    transition: all ease 0.1s;
}

#display_formula {
    width: 100%;
    height: 40px;
    background-color: #e4e4e4;
    color: #000;
    border: none;
    font-size: 22px;
    text-align: right;
    padding: 6px;
    border-radius: 5px;
    transition: all ease 0.1s;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 60px);
    grid-template-rows: repeat(5, 60px);
    gap: 6px;
}

.button {
    text-align: center;
    background-color: rgb(110, 110, 110);
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all ease 0.1s;
}

.button:hover, .button:focus {
    cursor: pointer;
    border: solid 2px white;
    transform: scale(1.02);
}

.button:active {
    background-color: rgb(180, 180, 180);
    transform: translateX(2px);
    transform: translateY(2px);
}

.button_number {
    background-color: rgb(150, 150, 150);
}

#button_sum, #button_solve {
    grid-row: span 2;
}

#button_resetAll, #button_resetCalc {
    background-color: #c90c32 /* #BF3030 */; /* https://colorscheme.ru/#3931Tw0w0w0w0 */
}

#button_resetAll:active, #button_resetCalc:active {
    background-color: #a70b2a;
}

#button_sum, #button_solve {
    display: flex;
    align-items: center;
    justify-content: center;
}

#button_solve {
    background-color: #00A779 /* #269926 */; /* https://colorscheme.ru/#3931Tw0w0w0w0 */
}

#button_solve:active {
    background-color: #008761;
}
